[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/plugins/start/multi_cursors"]
	path = pack/plugins/start/multi_cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/plugins/start/editorconfig"]
	path = pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
